*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "outfit", sans-serif;
  background-color: rgb(221, 234, 252);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  background-color: white;
  width: 30%;
  max-width: 400px;
  padding: 20px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 20px;

}

img{
  width: 370px;
  border: 2px ;
  border-radius: 20px;
  padding: 5px;
  margin-top: -10px;
  margin-left: -8px;

}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;

}

h6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(182, 181, 181);
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
