*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(252, 211, 78);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  background-color: rgb(253, 254, 255);
  width: 30%;
  max-width: 450px;
  padding: 20px;
  margin: 40px;
  margin-bottom: 59px;
  border-left: 3px solid black;
  border-right: 8px solid black;
  border-top: 3px solid black;
  border-bottom: 8px solid black;
  border-radius: 50px;

}

.background{
  width: 400px;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;

}

h1{
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  background-color: rgb(247, 235, 77);
  width: 170px;
  padding-left: 5px;
  margin: 20px;
  border-radius: 5px;

}

.date{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 10px;
  margin: 20px;

}

h2{
  font-style: normal;
  padding-left: 15px;
  margin: 5px;
}

.one{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(117, 116, 116);
  padding: 20px;

}


.logo,
h3{
  width: 40px;
  display: inline;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: -10px;
}